################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/gry_karciane/.vs/gry_karciane/FileContentIndex/ff3a7f06-73cd-42e2-a771-04cee8b4597b.vsidx
/gry_karciane/.vs/gry_karciane/FileContentIndex/42ba0a57-5d53-41b2-9d67-2e2d7af22387.vsidx
