################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/gry_karciane/.vs/gry_karciane/FileContentIndex/ff3a7f06-73cd-42e2-a771-04cee8b4597b.vsidx
/gry_karciane/.vs/gry_karciane/FileContentIndex/42ba0a57-5d53-41b2-9d67-2e2d7af22387.vsidx
/gry_karciane/.vs/gry_karciane/FileContentIndex/2e576b05-5ef8-40dc-b8b5-4306a3195b35.vsidx
/gry_karciane/.vs/gry_karciane/FileContentIndex/75b5731e-2fa0-4ebf-8694-ee3f1be88edc.vsidx
/gry_karciane/.vs/gry_karciane/FileContentIndex/75ee68f1-555d-4d9a-939d-86df6353d491.vsidx
/gry_karciane/.vs/gry_karciane/FileContentIndex/7e9df515-a88a-4c35-847b-b56327ab8e02.vsidx
/gry_karciane/.vs/gry_karciane/FileContentIndex/e5c295be-135b-4c12-979e-c57ef4e850d5.vsidx
/gry_karciane/.vs/gry_karciane/FileContentIndex/4d1d7c74-a6b2-475a-ae24-a02c4cf78b03.vsidx
/gry_karciane/.vs/gry_karciane/FileContentIndex/6432074e-d0b6-4720-92bd-611da5e90bb5.vsidx
/gry_karciane/.vs/gry_karciane/FileContentIndex/9a27b2d9-86db-4b40-91d2-3eb0cce91fca.vsidx
/gry_karciane/.vs/gry_karciane/FileContentIndex/b4a95a9c-5a5f-4c54-a382-cb102034d2d5.vsidx
/gry_karciane/.vs/gry_karciane/FileContentIndex/4a035b49-53fd-477a-ac8e-42834edf70e9.vsidx
/gry_karciane/.vs/gry_karciane/FileContentIndex/4458379a-8395-415c-b5fc-905bbb91dd17.vsidx
/gry_karciane/.vs/gry_karciane/FileContentIndex/170f5c08-c3ce-4337-b771-1f969d696ccc.vsidx
/gry_karciane/.vs/gry_karciane/FileContentIndex/79f816df-49a5-4741-9079-7ce6f063d363.vsidx
.vs/
